.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.scrollList{
    overflow-y: auto;
    height:calc(100vh - 0.05*100vh)
}